# Ignore Visual Studio Code settings
.vscode/

# Ignore macOS system files
*.DS_Store

# Ignore the build directory
build/

# Ignore Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore ROS build artifacts
install/
log/

# Claude related files
Claude.md
