services:
  pitt_urc_local:
    image: urc_local
    container_name: pitt_urc_local
    stdin_open: true # Equivalent to `-it`
    tty: true # Keeps the container interactive
    restart: unless-stopped
    network_mode: host
    pid: host
    ipc: host
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - XDG_RUNTIME_DIR=/tmp/runtime-root
      - LIBGL_ALWAYS_INDIRECT=1
      - ROS_DOMAIN_ID=0
      - ROS_LOCALHOST_ONLY=0
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    volumes:
      - ./../../:/app
